body {
    background-color: white;
}

h1 {
    color: green;
    font-family: 'Plus Jakarta Sans';
    font-size: 300%;
}

p {
    color: purple;
    font-family: 'Courier';
    font-size: 160%;
}

p {
    border: 5px solid red;
    margin: 100px;
    padding: 50px;
}